<template>
  <div class="tw-p-8">
    <!-- HEADER -->
    <div class="tw-flex tw-items-center">
      <div
        class="tw-flex tw-flex-col tw-basis-8/12 tw-gap-y-4 tw-justify-between"
      >
        <!-- TAGS -->
        <div>
          <Chip
            v-for="(tag, i) in tags"
            :key="i"
            class="tw-uppercase tw-bg-transparent tw-border tw-border-solid tw-border-white tw-text-white tw-rounded-lg tw-mr-2"
            >{{ tag }}</Chip
          >
        </div>
        <!-- TITLE -->
        <div class="tw-flex tw-flex-row tw-text-[3rem]">
          <span>
            <i>{{ subtitle }}: </i>
            <span class="tw-font-semibold">
              {{ title }}
            </span>
          </span>
        </div>
        <!-- AUTHOR -->
        <div class="tw-flex tw-items-center">
          <Avatar
            image="/images/me/1.webp"
            class="tw-mr-2"
            size="xlarge"
            shape="circle"
          />
          <div class="tw-flex tw-flex-col">
            <span class="tw-font-semibold"> Nonthakorn Inthong (Kan) </span>
            <span> Web developer </span>
          </div>
        </div>
      </div>
      <!-- PICTURE -->
      <div class="tw-flex tw-basis-4/12 tw-rounded-xl">
        <img
          draggable="false"
          :src="imgSrc"
          class="img-work-experience tw-rounded-xl tw-w-full tw-object-contain"
        />
      </div>
    </div>
    <!-- DIVIDER -->
    <div class="tw-w-full tw-h-[1px] tw-bg-white tw-my-8"></div>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "blog",
});
defineProps({
  tags: Array<String>,
  subtitle: String,
  title: String,
  imgSrc: String,
});
</script>

<style scoped></style>
