<template>
  <div class="tw-flex tw-justify-center tw-w-[70%] tw-mb-6">
    <div class="tw-w-full tw-h-[1px] tw-bg-primary"></div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
