<template>
  <div
    ref="preloaderRef"
    class="tw-fixed tw-w-full tw-h-full tw-text-black tw-bg-white tw-z-[1000] tw-flex tw-justify-center tw-items-center"
  >
    <h2>{{ percentage }}%</h2>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
import { useAppLoader } from "~/stores/loader";
const preloaderStore = useAppLoader();
const percentage = ref(0);
const preloaderRef = ref();

onMounted(() => {
  const tl = gsap.timeline();
  tl.to(percentage, {
    progress: 100,
    duration: 1,
    onUpdate: () => {
      // @ts-ignore
      percentage.value = Math.floor(percentage.progress);
    },
    onComplete: () => {
      preloaderStore.handlePreloader(false);
    },
  });

  tl.fromTo(
    preloaderRef.value,
    {
      clipPath: "polygon(0% 0%, 100% 0%, 100% 100% 0% 100%)",
    },
    {
      clipPath: "polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)",
      duration: 1,
    }
  );
});
</script>

<style scoped></style>
