<template>
  <div
    class="cb-tagreel tw-absolute tw-top-0 tw-w-full tw-bg-white tw-text-primary tw-py-3 tw-font-semibold"
  >
    <div class="tw-w-[200px]">
      <div
        class="tw-flex-nowrap tw-flex tw-text-center tw-whitespace-nowrap tw-items-center tw-justify-center"
      >
        <div
          class="team-member tw-pr-2 tw-text-2xl"
          v-for="(tag, i) in 20"
          :key="i"
        >
          1.0 VERSION LAUNCH 🚀
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";

onMounted(() => {
  const itemWidth = 200;
  const teamMembers = gsap.utils.toArray(".team-member");
  gsap.to(teamMembers, {
    ease: "none",
    duration: 5,
    xPercent: -itemWidth,
    repeat: -1,
    modifiers: {
      xPercent: gsap.utils.unitize((x) => (parseFloat(x) + itemWidth) % 100),
    },
  });

  //   const rows = document.querySelectorAll(".cb-tagreel-row");

  //   rows.forEach(function (e, i) {
  //     const row_width = e.getBoundingClientRect().width;
  //     const row_item_width = e.children[0].getBoundingClientRect().width;
  //     const initial_offset = ((2 * row_item_width) / row_width) * 100;
  //     const x_translation = initial_offset * -1;

  //     gsap.set(e, {
  //       xPercent: initial_offset,
  //     });

  //     const duration = 5 * (i + 1);

  //     const tl = gsap.timeline();

  //     tl.to(e, {
  //       ease: "none",
  //       duration: duration,
  //       xPercent: 0,
  //       //   xPercent: -100,
  //       repeat: -1,
  //       modifiers: {
  //         xPercent: gsap.utils.unitize((x) => (parseFloat(x) + 100) % 100),
  //       },
  //     });
  //   });
});
</script>

<style scoped></style>
