<template>
  <TresCanvas v-bind="gl" preset="realistic">
    <TresPerspectiveCamera :position="[9, 9, 9]" />
    <OrbitControls />
    <Suspense>
      <TresMesh ref="boxRef" :position="[-2, 2, 0]" :rotation="[0, Math.PI, 0]">
        <TresBoxGeometry :args="[1, 1.5, 3]" />
        <TresMeshNormalMaterial />
      </TresMesh>
    </Suspense>
    <!-- <Suspense>
      <MaterialsMiniRoomArt />
    </Suspense> -->

    <TresDirectionalLight :position="[0, 2, 4]" :intensity="1.2" cast-shadow />
    <TresGridHelper />
  </TresCanvas>
</template>

<script setup lang="ts">
import type { TresObject } from "@tresjs/core";
import { BasicShadowMap, SRGBColorSpace, NoToneMapping } from "three";
const boxRef = shallowRef<TresObject | null>(null);

const { onLoop } = useRenderLoop();
onLoop(({ elapsed }) => {
  if (boxRef.value) {
    boxRef.value.rotation.y = Math.sin(elapsed);
    // boxRef.value.rotation.z = elapsed;
  }
});

const perspectiveArgs = {
  fov: 45,
  aspect: 1920 / 1080,
  near: 1,
  far: 1000,
};
const gl = {
  clearColor: "#82DBC5",
  shadows: true,
  alpha: false,
  shadowMapType: BasicShadowMap,
  outputColorSpace: SRGBColorSpace,
  toneMapping: NoToneMapping,
};
</script>
