*,
*::before,
*::after {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    /* font-family: "Inter"; */
    /* font-family: "Noto Sans Thai"; */
    font-family: "IBM Plex Mono", "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-family: "anonymous-pro", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.dark-mode body {
    background-color: #091a28;
    color: #ebf4f1;
}
.sepia-mode body {
    background-color: #f1e7d0;
    color: #433422;
}
