<template>
  <div></div>
</template>

<script setup lang="ts">
import gsap from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";

if (process.client) gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);
</script>

<style scoped></style>
