<template>
  <div
    class="tw-h-screen tw-w-screen tw-flex tw-justify-center tw-items-center panel"
  >
    <div
      class="tw-w-full md:tw-w-[70%] lg:tw-w-[60%] tw-relative tw-flex tw-justify-center tw-items-center"
    >
      <b class="tw-text-[3rem] lg:tw-text-[10rem] tw-p-0 tw-m-0 tw-text-white">
        WELCOME
      </b>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
