<template>
  <div
    class="tw-h-screen tw-w-screen tw-flex tw-justify-center tw-items-center panel"
  >
    <div
      ref="introFourWrapperRef"
      class="tw-w-full md:tw-w-[70%] tw-gap-3 tw-flex tw-flex-col tw-flex-nowrap tw-relative tw-text-white tw-items-center"
    >
      <div
        class="tw-flex tw-gap-3 tw-text-[2rem] tw-w-full tw-h-full tw-items-center"
      >
        <div class="tw-basis-3/12">Front-end Developer</div>
        <div class="tw-basis-9/12 tw-flex tw-gap-3">
          <div class="tw-bg-[#D9D9D9] tw-rounded-xl tw-p-4 tw-text-[6rem]">
            <b class="tw-text-primary tw-flex tw-flex-col">
              <span>2Years</span>
              <span>EXP.</span>
            </b>
          </div>
          <div
            class="animate tw-bg-gradient-to-b tw-from-purple-400 tw-to-yellow-400 tw-font-NOTO_SANS_THAI tw-rounded-xl tw-p-4 tw-flex tw-justify-center tw-items-center tw-text-xl"
          >
            As a freelance
          </div>
          <div class="tw-bg-[#D9D9D9] tw-rounded-xl tw-p-4">
            <span class="tw-text-primary tw-font-bold"
              >WITH THE KNOWLEDGED OF</span
            >
            <div class="tw-flex tw-gap-2 tw-flex-wrap">
              <Chip v-for="(chip, i) in chipItems" :key="i">{{ chip }}</Chip>
            </div>
          </div>
        </div>
      </div>
      <div class="tw-flex tw-gap-3 tw-w-full">
        <div class="tw-relative tw-basis-4/12">
          <div
            class="animate tw-w-[170px] tw-h-[40px] tw-rounded-xl tw-bg-gradient-to-r tw-from-[#B5F44A] tw-to-transparent tw-absolute tw-left-[-3rem] tw-bottom-0"
          ></div>
          <div
            class="animate tw-w-[80px] tw-h-[40px] tw-rounded-xl tw-bg-gradient-to-r tw-from-[#F8FFED] tw-to-[#F9C22E] tw-absolute tw-left-16 tw-bottom-6"
          ></div>
        </div>

        <div
          class="tw-bg-[#D9D9D9] tw-rounded-xl tw-flex tw-justify-center tw-items-center tw-w-full"
        >
          <div class="tw-flex tw-flex-wrap tw-gap-3 tw-p-4">
            <div
              v-for="(stack, i) in stackItems"
              :key="i"
              class="tw-bg-primary tw-rounded-lg tw-w-8 tw-h-14 tw-flex tw-justify-center tw-items-center tw-basis-1/6"
            >
              <NuxtPicture
                width="24"
                :src="stack.src"
                :aria-placeholder="stack.placeholder"
              />
            </div>
          </div>
          <div class="tw-flex tw-flex-col tw-items-center">
            <div
              class="tw-text-primary tw-text-[2rem] tw-font-semibold tw-w-[70%]"
            >
              Technology Stacks
            </div>
            <div class="tw-text-[#666666] tw-text-[1rem] tw-w-[70%]">
              The specific tools used for each project vary depending on its
              unique requirements.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
const introFourWrapperRef = ref();
const stackItems = [
  { src: "/images/icons/Vector.svg", placeholder: "Nuxt.js" },
  { src: "/images/icons/logos_vue.svg", placeholder: "Vue.js" },
  {
    src: "/images/icons/teenyicons_nextjs-solid.svg",
    placeholder: "Next.js",
  },
  { src: "/images/icons/logos_react.svg", placeholder: "React.js" },
  { src: "/images/icons/logos_prisma.svg", placeholder: "Prisma" },
  { src: "/images/icons/skill-icons_docker.svg", placeholder: "Docker" },
  { src: "/images/icons/logos_nestjs.svg", placeholder: "Nest.js" },
  { src: "/images/icons/logos_mysql.svg", placeholder: "SQL" },
  { src: "/images/icons/devicon_gitlab.svg", placeholder: "GitLab" },
  { src: "/images/icons/logos_figma.svg", placeholder: "Figma" },
];
const chipItems = [
  "Web Development",
  "Agile methodology",
  "Problem Solving",
  "System Analysis",
  "Fundamental Database",
  "Design Thinking",
  "Critical Thinking",
];
</script>

<style scoped></style>
