<template>
  <div
    ref="introOneWrapperRef"
    class="tw-h-screen tw-w-screen tw-flex tw-justify-center tw-items-center panel tw-bg-gradient-to-tr tw-from-primary tw-to-red-400 tw-from-[70%]"
  >
    About me
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
const introOneWrapperRef = ref();

defineExpose({
  introOneWrapperRef,
});
// onMounted(() => {
//   gsap.from(introOneWrapperRef.value, {
//     y: -100,
//     duration: 2,
//     opacity: 0,
//     stagger: 0.2,
//     scrollTrigger: {
//       trigger: introOneWrapperRef.value,
//       scrub: true,
//       markers: true,
//     },
//   });
// });
</script>

<style scoped></style>
