<template>
  <div
    class="tw-h-screen tw-w-screen tw-flex tw-justify-center tw-items-center panel"
  >
    <div
      ref="introThreeWrapperRef"
      class="tw-w-full md:tw-w-[70%] tw-flex-row tw-gap-2 tw-flex tw-flex-nowrap tw-relative tw-text-white tw-items-center"
    >
      <div
        class="tw-h-[360px] tw-bg-gradient-to-t tw-from-[#F9C22E] tw-to-[#E23030] tw-rounded-xl tw-w-[120px] tw-mr-4"
      ></div>
      <div class="tw-flex tw-flex-col tw-w-full">
        <span class="tw-font-NOTO_SANS_THAI tw-text-[2rem]">
          {{ content.withThePassion.value }}</span
        >
        <div class="tw-flex tw-items-center">
          <b class="tw-text-[2rem] lg:tw-text-[8rem] tw-p-0 tw-m-0">
            {{ content.developer.value }}
          </b>
          <NuxtPicture
            src="/images/JigsawPuzzle.svg"
            class="tw-mt-6 tw-mx-2 animate-3"
          />
          <NuxtPicture
            src="/images/andSymbol.svg"
            class="tw-mt-6 tw-mx-2 animate-3"
          />
        </div>
        <div class="tw-flex tw-items-center">
          <b class="tw-text-[2rem] lg:tw-text-[8rem] tw-p-0 tw-m-0">
            {{ content.graphicDesign.value }}
          </b>
          <NuxtPicture
            src="/images/ColorPalette.svg"
            class="tw-mx-2 tw-mt-6 animate-3"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
const content = {
  withThePassion: ref(""),
  developer: ref(""),
  graphicDesign: ref(""),
};
const introThreeWrapperRef = ref();

useScrambleText(content.withThePassion, "With the passionate in");
useScrambleText(content.developer, "Coding");
useScrambleText(content.graphicDesign, "Graphics Design");

defineExpose({
  introThreeWrapperRef,
});
</script>

<style scoped></style>
