<template>
  <div
    class="tw-h-screen tw-w-screen tw-flex tw-justify-center tw-items-center panel"
    ref="introTwoWrapperRef"
  >
    <div
      class="tw-w-full md:tw-w-[70%] lg:tw-w-[60%] tw-flex tw-flex-wrap tw-relative tw-text-white"
    >
      <div
        class="tw-flex tw-basis-4/12 tw-p-2 tw-bg-gradient-to-t tw-from-red-500 tw-to-yellow-200 tw-rounded-xl tw-relative tw-flex-col tw-justify-center tw-items-start"
      >
        <div
          ref="meImageRef"
          class="tw-w-full tw-h-full tw-rounded-2xl tw-flex tw-justify-center"
        >
          <!-- <NuxtPicture
            src="/images/me/2.webp"
            width="120"
            class="tw-absolute tw-top-0 img-intro"
          /> -->
          <!-- <NuxtPicture
            src="/images/me/3.webp"
            width="240"
            class="tw-absolute tw-top-0 img-intro"
          /> -->
          <NuxtPicture
            src="/images/me/1.webp"
            width="240"
            class="tw-absolute tw-top-0 img-intro"
          />
        </div>
        <span class="tw-text-[4rem]">I'm</span>
        <b class="tw-text-[4rem]">Nonthakorn</b>
        <b class="tw-text-[4rem]">Inthong</b>
        <div
          class="tw-gap-2 tw-flex tw-items-center tw-text-[1rem] tw-mt-6 tw-cursor-pointer"
          @click="externalNavigationTo('mailto:nonthakorn.in@outlook.com')"
        >
          <span>nonthakorn.in@outlook.com</span> <Icon name="mdi:email" />
        </div>
      </div>
      <div class="tw-flex tw-flex-wrap tw-basis-8/12 tw-px-2">
        <div class="tw-basis-full tw-text-[6rem] tw-font-semibold tw-flex">
          Portfolio
          <div
            @click="externalNavigationTo('kmutt.me/nonthakorn-resume')"
            v-tooltip.top="{
              value: 'Resume',
              placeholder: 'Resume',
            }"
            class="tw-px-2 tw-pb-2 tw-rounded-xl tw-animate-pulse hover:tw-text-primary hover:tw-bg-white tw-transition-all tw-text-white tw-bg-primary tw-cursor-pointer active:tw-scale-[1.02]"
          >
            <Icon name="material-symbols:document-scanner" />
          </div>
        </div>
        <div class="tw-basis-8/12 tw-h-[20rem] tw-mb-2">
          <div
            class="tw-bg-gradient-to-t tw-from-pink-200 tw-to-pink-400 tw-rounded-xl tw-relative tw-w-full tw-h-full tw-flex tw-justify-center tw-items-center tw-flex-col"
          >
            <b class="tw-text-[1.6rem] tw-font-ANTIC_SLAB tw-mb-2"> I'm </b>
            <div
              class="tw-bg-white tw-rounded-xl tw-text-primary tw-flex tw-flex-col tw-mb-6 tw-px-2"
            >
              <b class="tw-p-0 tw-m-0 tw-text-[4rem]">
                {{ content.webdeveloper.value }}
              </b>
            </div>
          </div>
        </div>
        <div class="tw-basis-4/12 tw-h-[20rem] tw-mb-2">
          <div
            class="tw-bg-gradient-to-t tw-from-green-200 tw-to-green-400 tw-rounded-xl tw-relative tw-w-full tw-h-full tw-flex tw-flex-col tw-justify-evenly tw-ml-2 tw-p-2"
          >
            <div class="tw-flex tw-justify-center tw-py-3">
              <img
                src="/images/kmutt.webp"
                class="tw-rounded-lg tw-w-[140px] img-intro"
              />
            </div>

            <span class="tw-text-primary tw-flex tw-flex-col">
              <b class="tw-text-[1.6rem] tw-font-ANTIC_SLAB tw-mb-2">
                Education
              </b>
              <b>KMUTT, 2020-2024</b>
              <span> B. Sc in Computer Science </span>
            </span>
          </div>
        </div>

        <div class="tw-basis-4/12 tw-h-[20rem]">
          <div
            class="tw-bg-gradient-to-t tw-from-blue-200 tw-to-blue-300 tw-rounded-xl tw-relative tw-w-full tw-h-full tw-p-3"
          >
            <b class="tw-text-[1.6rem] tw-font-ANTIC_SLAB tw-mb-2">
              Keep in touch
            </b>
            <div class="tw-grid tw-grid-cols-3 tw-mt-4 tw-gap-4">
              <Icon
                v-for="(contact, i) in contactItems"
                @click="externalNavigationTo(contact.value)"
                :key="i"
                class="hover:tw-text-primary hover:tw-scale-[1.03] tw-transition-all tw-cursor-pointer"
                :name="contact.icon"
                :aria-placeholder="contact.placeholder"
                size="32"
              />
            </div>
          </div>
        </div>
        <div class="tw-basis-8/12 tw-h-[20rem]">
          <div
            class="tw-bg-gradient-to-t tw-from-yellow-200 tw-to-yellow-300 tw-rounded-xl tw-relative tw-w-full tw-h-full tw-ml-2 tw-p-3 tw-text-primary tw-flex tw-flex-col tw-justify-around"
          >
            <div class="tw-flex tw-justify-center">
              <div
                class="tw-rounded-lg tw-text-primary tw-flex tw-justify-center tw-items-center tw-p-1 tw-w-[160px] tw-bg-white tw-text-xl tw-mb-2 tw-border-solid tw-border tw-border-pink-200"
              >
                <Icon name="ic:baseline-circle" color="pink" class="tw-mr-2" />
                Eager
              </div>
            </div>
            <span class="tw-line tw-leading-8 tw-text-[1.2rem]">
              I'm excited to leverage my skills in a full-time, team-oriented
              role. I'm a passionate learner who thrives in environments that
              foster growth and keep me at the forefront of the ever-evolving
              tech industry.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
import { externalNavigationTo } from "~/utils/navigation";
const introTwoWrapperRef = ref();
const content = {
  iam: ref(""),
  webdeveloper: ref(""),
  frontend: ref(""),
  developer: ref(""),
};
const meImageRef = ref();
const seqWordIndex = ref(-1);

useScrambleText(content.webdeveloper, "Web Developer");
const contactItems = [
  {
    icon: "mdi:facebook-box",
    value: "https://www.facebook.com/Redcats001/",
    placeholder: "facebook",
  },
  {
    icon: "ph:instagram-logo-fill",
    value: "https://www.instagram.com/lnwkan/",
    placeholder: "instagram",
  },
  {
    icon: "mdi:linkedin",
    value: "https://www.linkedin.com/in/nonthakorn-inth",
    placeholder: "LinkedIn",
  },
  {
    icon: "mdi:github-box",
    value: "https://github.com/redcats002",
    placeholder: "GitHub",
  },
  {
    icon: "fa6-brands:square-gitlab",
    value: "https://gitlab.com/redcats002",
    placeholder: "GitLab",
  },
];

// const sequenceDisplayWord = () => {
//   const seqWords = ["Web Developer", "Frontend Developer", "Software Engineer"];

//   if (seqWordIndex.value === seqWords.length - 1) seqWordIndex.value = 0;
//   else seqWordIndex.value++;
//   content.webdeveloper.value = seqWords[seqWordIndex.value];
// };

onMounted(() => {
  // setInterval(() => {
  //   sequenceDisplayWord();
  // }, 3000);
  // gsap
  //   .timeline({
  //     scrollTrigger: {
  //       trigger: introTwoWrapperRef.value,
  //       start: "top top",
  //       end: "bottom bottom",
  //       markers: true,
  //       scrub: 2,
  //     },
  //   })
  //   .from(".img-intro", {
  //     opacity: 0,
  //     stagger: {
  //       each: 0.5,
  //     },
  //     ease: "back",
  //     y: -100,
  //     duration: 1,
  //     autoAlpha: 1,
  //   });
});

defineExpose({
  introTwoWrapperRef,
});
</script>

<style scoped></style>
