<template>
  <div class="tw-bg-[#262626] tw-text-white tw-pb-[140px]">
    <!-- <CommonPreloader /> -->
    <div class="tw-flex tw-w-full tw-h-full tw-flex-col">
      <div class="tw-flex tw-flex-col tw-p-8">
        <div
          class="tw-flex tw-gap-2 tw-items-center tw-bg-gradient-to-b tw-from-orange-400 tw-to-transparent tw-h-[4rem] tw-px-8 tw-rounded-t-xl"
        >
          <Button
            @click="$router.push('/')"
            rounded
            outlined
            severity="info"
            v-if="$route.fullPath.split('/').length > 2"
            ><Icon name="material-symbols:arrow-left-alt" color="white" />
          </Button>
          <div>
            {{ $route.fullPath }}
          </div>
        </div>
        <div class="tw-w-full tw-h-[1px] tw-bg-white"></div>
      </div>

      <slot />
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
