<template>
  <div
    class="tw-bg-[#262626] tw-min-h-[100dvh] tw-min-w-[100dwh] tw-text-white"
  >
    <!-- <CommonPreloader /> -->
    <!-- <slot v-if="!loaderStore.isPreloading" /> -->
    <slot />
  </div>
</template>

<script setup lang="ts">
const loaderStore = useAppLoader();
</script>

<style scoped></style>
