<template>
  <div>
    <BlogCommonHeader
      :tags="headerData.tags"
      :subtitle="headerData.subtitle"
      :title="headerData.title"
      :imgSrc="headerData.imgSrc"
    />
    <!-- BODY -->
    <div class="tw-flex tw-justify-center tw-items-center">
      <div
        class="tw-flex tw-px-8 tw-flex-col tw-justify-center tw-items-center tw-gap-y-6 tw-text-lg tw-w-[70%]"
      >
        <Chip class="tw-text-xl tw-font-bold">Content</Chip>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <Chip class="tw-font-bold tw-mb-4"
            >Front-end Developer <i>(Feb 2022 - Present)</i></Chip
          >
          <span class="tw-indent-6">
            Front-end developer with experience in building and optimizing
            landing pages, back-office systems, and applicant information pages.
            Skilled in framework migrations, UI/UX implementation, and basic web
            performance/SEO optimization
          </span>
          <div class="tw-font-bold tw-mt-6">Key responsibilities</div>
          <ul>
            <li>
              Collaborate with clients to define project requirements and
              negotiate solutions.
            </li>
            <li>
              Design and develop user interfaces using appropriate tech stacks
              (e.g., Next.js, Nuxt.js).
            </li>
            <li>
              Implement SEO strategies and optimize web page performance for
              user experience. Conduct thorough testing and debugging to ensure
              functionality and maintainability.
            </li>
          </ul>
        </div>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <Chip class="tw-font-bold tw-mb-4"
            >Back-end Developer <i>(Feb 2023 - Present)</i></Chip
          >
          <span class="tw-indent-6">
            Built and integrated features like payments, reservations, and
            authentication for diverse applications. Proficient in Nest.js,
            database design (SQL & NoSQL), and beginner in CI/CD.</span
          >

          <div class="tw-font-bold tw-mt-6">Key responsibilities</div>
          <ul>
            <li>
              Developed, Debugged and integrated back-end functionalities using
              Nest.js.
            </li>
            <li>
              Designed and implemented efficient database structures (SQL &
              NoSQL).
            </li>
            <li>Integrated third-party services (e.g., Stripe, Firebase).</li>
          </ul>
        </div>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <Chip class="tw-font-bold tw-mb-4">Skills & Interests</Chip>
          <span class="tw-indent-6">
            I am currently passionate about web development techniques for
            creating engaging and interactive experiences, including parallax
            scrolling, scroll interactions, motion design, and 3D web animation
            with TresJS and GSAP.
          </span>
          <div
            class="tw-flex tw-text-primary tw-w-full tw-h-full tw-gap-4 tw-mt-8"
          >
            <div class="tw-flex tw-flex-col tw-gap-4">
              <div
                class="tw-rounded-xl tw-drop-shadow-lg tw-relative tw-bg-gradient-to-br tw-from-[70%] tw-from-[#F5F5F5] tw-to-green-300 tw-p-10"
              >
                <!-- IMAGE -->
                <div class="tw-flex tw-gap-4">
                  <div class="tw-rounded-md tw-bg-white tw-p-6 tw-w-[66.66%]">
                    <img
                      src="/images/icons/Vector.svg"
                      alt="nuxt.js"
                      class="tw-w-full"
                    />
                  </div>
                  <div class="tw-flex tw-flex-col tw-gap-4 tw-w-[37%]">
                    <div
                      class="tw-rounded-md tw-bg-white tw-p-6 tw-flex tw-justify-center tw-items-center"
                    >
                      <img
                        src="/images/icons/logos_vue.svg"
                        alt="vue.js"
                        class="tw-w-full"
                      />
                    </div>
                    <div class="tw-grid tw-grid-cols-2 tw-gap-4">
                      <div
                        class="tw-rounded-md tw-bg-white tw-p-3 tw-flex tw-items-center tw-justify-center"
                      >
                        <img
                          src="/images/icons/logos_nextjs.svg"
                          alt="next.js"
                          class="tw-w-full"
                        />
                      </div>
                      <div
                        class="tw-rounded-md tw-bg-white tw-p-3 tw-flex tw-items-center tw-justify-center"
                      >
                        <img
                          src="/images/icons/logos_react.svg"
                          alt="react.js"
                          class="tw-w-full"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- CONTENT -->
                <div
                  class="tw-flex tw-justify-center tw-flex-col tw-items-center tw-mt-8 tw-gap-y-4"
                >
                  <b class="tw-text-2xl tw-font-NOTO_SANS_THAI"
                    >Frontend framework</b
                  >
                  <span
                    class="tw-text-sm tw-text-center tw-font-NOTO_SANS_THAI tw-w-4/5"
                    >Nuxt.js is the web framework with which I possess the
                    greatest level of familiarity and expertise.</span
                  >
                </div>
              </div>
              <div
                class="tw-w-full tw-h-full tw-rounded-xl tw-drop-shadow-lg tw-relative tw-bg-gradient-to-tr tw-from-[70%] tw-from-[#F5F5F5] tw-to-orange-300 tw-p-10"
              >
                <!-- IMAGE -->
                <div class="tw-flex tw-gap-4">
                  <div
                    class="tw-rounded-md tw-bg-white tw-w-[66.66%] tw-p-10 tw-flex tw-justify-center tw-items-center"
                  >
                    <img
                      src="/images/icons/logos_mysql.svg"
                      alt="mysql"
                      class="tw-w-full"
                    />
                  </div>
                  <div class="tw-flex tw-flex-col tw-gap-4 tw-w-[35%]">
                    <div
                      class="tw-rounded-md tw-bg-white tw-p-3 tw-flex tw-justify-center tw-items-center"
                    >
                      <img
                        src="/images/icons/vscode-icons_file-type-mongo.svg"
                        alt="mongodb"
                        class="tw-w-full"
                      />
                    </div>
                    <div
                      class="tw-rounded-md tw-bg-white tw-p-3 tw-flex tw-justify-center tw-items-center"
                    >
                      <img
                        src="/images/icons/devicon_firebase.svg"
                        alt="firebase"
                        class="tw-w-full"
                      />
                    </div>
                  </div>
                </div>
                <!-- CONTENT -->

                <div
                  class="tw-flex tw-justify-center tw-flex-col tw-items-center tw-mt-8 tw-gap-y-4"
                >
                  <b class="tw-text-2xl tw-font-NOTO_SANS_THAI">Database</b>
                  <span
                    class="tw-text-sm tw-text-center tw-font-NOTO_SANS_THAI tw-w-4/5"
                    >Framework choice scales with project complexity. Firebase
                    speeds up personal projects.</span
                  >
                </div>
              </div>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-4">
              <div
                class="tw-w-full tw-h-full tw-rounded-xl tw-drop-shadow-lg tw-relative tw-bg-gradient-to-bl tw-from-[70%] tw-from-[#F5F5F5] tw-to-red-300 tw-p-10"
              >
                <!-- IMAGE -->
                <div class="tw-flex tw-gap-4 tw-w-full">
                  <div class="tw-rounded-md tw-bg-white tw-p-10 tw-w-1/2">
                    <img
                      src="/images/icons/logos_nestjs.svg"
                      alt="nest.js"
                      class="tw-w-full"
                    />
                  </div>
                  <div class="tw-rounded-md tw-bg-white tw-p-10 tw-w-1/2">
                    <img
                      src="/images/icons/skill-icons_expressjs-dark.svg"
                      alt="express.js"
                      class="tw-w-full"
                    />
                  </div>
                </div>
                <!-- CONTENT -->

                <div
                  class="tw-flex tw-justify-center tw-flex-col tw-items-center tw-mt-8 tw-gap-y-4"
                >
                  <b class="tw-text-2xl tw-font-NOTO_SANS_THAI"
                    >Backend framework</b
                  >
                  <span
                    class="tw-text-sm tw-text-center tw-font-NOTO_SANS_THAI tw-w-4/5"
                    >My backend expertise lies primarily in Nest.js, with
                    experience in Express.js for simpler projects.</span
                  >
                </div>
              </div>
              <div
                class="tw-w-full tw-h-full tw-rounded-xl tw-drop-shadow-lg tw-relative tw-bg-gradient-to-tl tw-from-[70%] tw-from-[#F5F5F5] tw-to-blue-300 tw-p-10"
              >
                <!-- IMAGE -->
                <div class="tw-flex tw-flex-col tw-gap-4">
                  <div class="tw-flex tw-gap-4">
                    <div
                      class="tw-rounded-md tw-bg-white tw-w-full tw-p-10 tw-flex tw-justify-center tw-items-center"
                    >
                      <img
                        src="/images/icons/logos_vercel.svg"
                        alt="gitlab"
                        class="tw-w-full"
                      />
                    </div>
                    <div
                      class="tw-rounded-md tw-bg-white tw-w-full tw-p-10 tw-flex tw-justify-center tw-items-center"
                    >
                      <img
                        src="/images/icons/skill-icons_docker.svg"
                        alt="docker"
                        class="tw-w-full"
                      />
                    </div>
                    <div
                      class="tw-rounded-md tw-bg-white tw-w-full tw-p-10 tw-flex tw-justify-center tw-items-center"
                    >
                      <img
                        src="/images/icons/devicon_gitlab.svg"
                        alt="gitlab"
                        class="tw-w-full"
                      />
                    </div>
                  </div>
                  <!-- <div class="tw-rounded-md tw-bg-white tw-w-full tw-p-10">
                    <img
                      src="/images/icons/logos_vercel.svg"
                      alt="gitlab"
                      class="tw-w-full"
                    />
                  </div> -->
                </div>
                <!-- CONTENT -->
                <div
                  class="tw-flex tw-justify-center tw-flex-col tw-items-center tw-mt-8 tw-gap-y-4"
                >
                  <b class="tw-text-2xl tw-font-NOTO_SANS_THAI">DevOps</b>
                  <span
                    class="tw-text-sm tw-text-center tw-font-NOTO_SANS_THAI tw-w-4/5"
                    >My CI/CD pipeline preference is GitLab with Docker due to
                    its ease of setup. For deployments, I sometimes leverage
                    Vercel.</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "blog",
});

const headerData = {
  tags: ["Freelance", "Web developer"],
  subtitle: "Freelance Web Development Experience",
  title:
    "Proven history of successfully completing web development projects on a freelance basis",
  imgSrc: "/images/blogs/freelance.webp",
};
const workItems = [
  {
    src: "/images/blogs/hrzoft.webp",
    alt: "hrzoft-landing-page",
    title: "",
    text: "",
    href: "",
  },
  {
    src: "/images/blogs/qot.webp",
    alt: "questoftriloga-landing-page",
    title: "",
    text: "",
    href: "",
  },
  {
    src: "/images/blogs/hrzoft.webp",
    alt: "hrzoft-landing-page",
    title: "",
    text: "",
    href: "",
  },
  {
    src: "/images/blogs/logo_smart_hotel.webp",
    alt: "smart-sotel-backoffice",
    title: "",
    text: "",
    href: "",
  },
  {
    src: "/images/blogs/plaintechlab.webp",
    alt: "plaintechlab-landing-page",
    title: "",
    text: "",
    href: "",
  },
  {
    src: "/images/blogs/schooney.webp",
    alt: "schooney-cadidates-form",
    title: "",
    text: "",
    href: "",
  },
  {
    src: "/images/blogs/orderwise.webp",
    alt: "orderwise-backoffice",
    title: "",
    text: "",
    href: "",
  },
];
const calculateRows = computed(() => {
  const rows = [];
  let currentRow = [];

  for (const item of workItems) {
    currentRow.push(item);

    // Check if current row has reached the limit (3) or the end of items
    if (currentRow.length === 3 || item === workItems[workItems.length - 1]) {
      rows.push(currentRow);
      currentRow = [];
    }
  }

  return rows;
});
</script>

<style scoped></style>
