<template>
  <div>
    <BlogCommonHeader
      :tags="headerData.tags"
      :subtitle="headerData.subtitle"
      :title="headerData.title"
      :imgSrc="headerData.imgSrc"
    />
    <!-- BODY -->
    <div class="tw-flex tw-justify-center tw-items-center">
      <div
        class="tw-flex tw-px-8 tw-flex-col tw-justify-center tw-items-center tw-gap-y-6 tw-text-lg tw-w-[70%]"
      >
        <Chip class="tw-text-xl tw-font-bold">Content</Chip>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <div class="tw-font-bold">Internship Task Background</div>
          <span class="tw-indent-6">
            My tasks and assignments during this internship consisted of
            Frontend development, Researching in Devops topic is GitLab
            On-premieses and prepared and migrated the workshop for
            education.</span
          >
        </div>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <div class="tw-font-bold">Frontend Development</div>
          <span class="tw-indent-6"
            >Understood existing codebase and workflow. Implemented features,
            debugged issues, and updated libraries. Documented migrated code for
            workshops and guided implementation.</span
          >
        </div>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <div class="tw-font-bold">DevOps Research</div>
          <span class="tw-indent-6"
            >Learned DevOps practices from official documentation. Created clear
            and concise documentation for demonstration purposes. Designed an
            optimal DevOps implementation process.</span
          >
        </div>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <div class="tw-font-bold">Workshop development</div>
          <div class="tw-grid tw-grid-cols-2 tw-gap-8">
            <div
              class="tw-flex tw-flex-col"
              v-for="(workshop, i) in workshopItems"
              :key="i"
            >
              <Chip class="tw-font-bold tw-indent-6">{{ workshop.title }}</Chip>
              <div class="tw-flex tw-justify-center tw-items-center">
                <img
                  :src="workshop.src"
                  class="tw-rounded-lg tw-object-contain tw-h-[35vh] tw-my-6"
                  :alt="workshop.alt"
                />
              </div>

              <span class="tw-indent-6"> {{ workshop.text }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "blog",
});
const headerData = {
  tags: ["Internship", "Web developer"],
  subtitle: "Summer Internship",
  title: "Web Development at Codemobile",
  imgSrc: "/images/blogs/codemobile/1.webp",
};
const workshopItems = [
  {
    src: "/images/blogs/codemobile/vuejscourse.webp",
    alt: "vuejscourse",
    title: "Vue.JS / Node.JS / SQL-DB - Stock Workshop",
    text: `My internship went beyond technical tasks. I planned timelines, identified collaborators, and set up communication plans. Most projects had a 5-day testing window with senior feedback for improvement. The flexible environment encouraged collaboration across departments.`,
  },
  {
    src: "/images/blogs/codemobile/nuxtjscourse.webp",
    alt: "nuxtjscourse",
    title: "Nuxt.JS / Node.JS / SQL-DB - Stock Workshop",
    text: `I also led the creation of a Nuxt3 workshop (a new web framework) by learning the framework, designing the curriculum, and collaborating with UX/UI and Graphic Design to create materials. This built upon our existing VueJS workshop.`,
  },
  {
    src: "/images/blogs/codemobile/merncourse.webp",
    alt: "merncourse",
    title: "MERN Stack Course",
    text: `I co-led the modernization of the ReactJS workshop, updating dependencies, documentation, and materials to align with the lecturer's current teaching style and ensure continued relevance.`,
  },
  {
    src: "/images/blogs/codemobile/gitcourse.webp",
    alt: "gitcourse",
    title: "Git + GitLab in Action",
    text: `My biggest challenge was creating Git and DevOps workshops (On-Premises, CI/CD, Docker, GitLab) from scratch due to limited experience. Researching and building the Git workshop (Basic Commands, CI/CD, Self-hosted GitLab) culminated my internship. It involved meticulous planning, timelines, and senior developer support. Drafting clear instructions for all three workshops was a highlight.`,
  },
];
</script>

<style scoped></style>
