<template>
  <div>
    <BlogCommonHeader
      :tags="headerData.tags"
      :subtitle="headerData.subtitle"
      :title="headerData.title"
      :imgSrc="headerData.imgSrc"
    />
    <!-- BODY -->
    <div class="tw-flex tw-justify-center tw-items-center">
      <div
        class="tw-flex tw-px-8 tw-flex-col tw-justify-center tw-items-center tw-gap-y-6 tw-text-lg tw-w-[70%] tw-relative"
      >
        <Chip class="tw-text-xl tw-font-bold">Summarize</Chip>
        <div class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2">
          <Chip><b class="tw-indent-6">MagicMarket</b></Chip>
          <ul>
            <li>
              The aim of this project is to address the challenges faced by a
              Magic: The Gathering card trading group in Thailand, specifically
              the lack of effective search and comparison tools for buyers to
              assess prices
            </li>
            <li>
              The proposed solution is a web-based application developed using
              Next.js, NextUI, and Tailwind CSS for the frontend. Firebase
              services, including storage, Firestore, and authentication, are
              utilized to enhance functionality.
            </li>
            <li>
              The application is deployed using Vercel for seamless
              accessibility.
            </li>
          </ul>

          <Chip><b class="tw-indent-6">My responsibilities</b></Chip>
          <ul>
            <li>
              <b class="tw-text-yellow-500">Frontend Development:</b> This stage
              will involve selecting the most suitable technology stack,
              including web frameworks, UI frameworks, and assets. We will
              integrate the frontend with backend services utilizing Firebase,
              specifically Firestore for data storage and Firebase
              Authentication for user management.
            </li>
            <li>
              <b class="tw-text-yellow-500">CI/CD Environment Setup:</b> We will
              establish a development environment and configure a continuous
              integration and continuous delivery (CI/CD) pipeline to streamline
              the development process.
            </li>
            <li>
              <b class="tw-text-yellow-500">
                User Experience and User Interface (UX/UI) Refinement:</b
              >
              After finalizing the wireframes, we will focus on enhancing the
              user experience (UX) and user interface (UI) for optimal
              user-friendliness and visual appeal.
            </li>
            <li>
              <b class="tw-text-yellow-500">
                Thesis and Documentation Contribution:</b
              >
              This phase involves active participation in creating the thesis,
              user manuals for application installation, and comprehensive web
              application user guides.
            </li>
            <li>
              <b class="tw-text-yellow-500">
                Firebase Database Design and Configuration:</b
              >
              We will design and set up appropriate databases within Firebase
              for both development and production environments.
            </li>
          </ul>
        </div>
        <div class="tw-w-full tw-h-[1px] tw-bg-white tw-my-8"></div>

        <Chip class="tw-text-xl tw-font-bold">Abstract</Chip>
        <div
          class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
        >
          This project aims to create a centralized platform for Magic: The
          Gathering card trading in Thailand, leveraging existing social media
          groups and online marketplaces. The project is named "Magic Market"
          and its main objective is to simplify the process of finding and
          trading Magic: The Gathering cards in the Thai market. Magic Market
          will provide a user-friendly interface for searching and browsing
          Magic: The Gathering card listings from multiple sources. It will also
          leverage object recognition technology to identify cards posted on
          social media groups and link them to their corresponding listings on
          the platform. This will enable users to easily access card information
          and trade offers from a single location. The project will be
          implemented using a microservices architecture, leveraging
          technologies with Next.js and Firebase. The platform will also
          incorporate machine learning algorithms for object recognition using
          Tesseract.js to improve search functionality and user experience. The
          success of Magic Market will be measured by the number of active users
          on the platform, the number of trades facilitated, and user feedback
          on the platform's usability and effectiveness in simplifying the
          Magic: The Gathering card trading process in Thailand.
        </div>
        <div
          class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
        >
          Overall, Magic Market is expected to address the pain points of
          traditional card trading methods in Thailand by providing a
          centralized and efficient platform for Magic: The Gathering card
          trading, and leveraging modern technologies to enhance user experience
          and simplify the trading process.
        </div>
        <Chip class="tw-text-xl tw-font-bold">Background information</Chip>
        <div
          class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
        >
          This project was initiated by our advisor, who brainstormed and shared
          their interest in the issue of trading card game circles, specifically
          "Magic: The Gathering," and the current community and traditional
          methods of buying and trading in Thailand. Currently, most Magic: The
          Gathering players use Facebook groups as a central platform for
          exchanging information and trading cards. There are two types of posts
          in the group: "For Sell" and "For Find (Buy)," which conform to the
          trading community's culture and group rules. Since the posts are in
          the form of pictures without the names of each card (in some cases),
          users looking for a specific card need to browse through all the
          pictures in the post and groups to find their desired card. Although
          users can also post "For Find (Buy)," this method lacks attention, as
          sellers typically do not spend time searching for such posts. This
          issue is problematic for both buyers and sellers because it makes
          posts disorganized and less effective, which can lead to missed
          opportunities for both parties. Another traditional and official way
          of buying cards is through central platforms in the United States such
          as TCG Player and Card Kingdom (CKD), which are among the main
          websites that card players use to determine the standard price of each
          card to sell in Facebook groups. However, purchasing from these
          platforms means that the card will be delivered from abroad, resulting
          in high delivery fees compared to the card's price. To address these
          issues, we propose a trading card platform for card players that
          provides a search algorithm and organized market, making it easier to
          search for and purchase cards
        </div>
        <Chip class="tw-text-xl tw-font-bold">Objectives</Chip>
        <div
          class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
        >
          Card Accessibility: Measure the ease with which users can access a
          wide range of Magic: The Gathering cards through the application.

          <ol>
            <li>
              This can be assessed by analyzing the number of cards available
              for sale, the variety of card rarities, and the overall coverage
              of different card sets.
            </li>
            <li>
              Establish a comprehensive online secondary marketplace for Magic:
              The Gathering cards in Thailand. Simplify the card trading process
              through a user-friendly interface and efficient search algorithm
              and pricing references that are already familiar to traditional
              methodology.
            </li>
            <li>
              Foster a reliable and trustworthy community of sellers and buyers
              on the platform.
            </li>
            <li>
              Address the challenges faced by users in traditional trading
              methods.
            </li>
            <li>
              Evaluate the user experience of the application by measuring
              factors such as ease of navigation, intuitive interface design,
              and responsiveness.
            </li>
          </ol>
        </div>
        <Chip class="tw-text-xl tw-font-bold">Scopes</Chip>
        <div
          class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
        >
          <Chip class="tw-text-lg tw-font-bold">Problem Statement</Chip>
          <div
            class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose tw-relative"
          >
            <img
              src="/images/blogs/magicmarket/image27.webp"
              alt="Fishbone diagram of the problem statement"
              class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
            />
            <span class="tw-italic tw-text-center">
              Figure of Fishbone diagram of the problem statement
            </span>
            <span>
              In the current Magic: The Gathering trading community in Thailand,
              the use of Facebook groups results in disorganized and less
              effective posts due to the lack of a structured search
              methodology.</span
            >
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8">Key Features</Chip>
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            <ol>
              <li>
                A user-friendly interface for easy navigation and efficient
                search of cards.
              </li>
              <li>Online secondary marketplace platform.</li>
              <li>
                Provide pricing references to comparing that popular in Thailand
                community are TCG,CKD,CHD and CMK Card searching by name and
                through OCR (Object Character Recognition).
              </li>
              <li>View card details with pricing references.</li>
              <li>Showcase creation and management for sellers.</li>
            </ol>
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8">Target Market</Chip>
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            The MagicMarket will target Magic the Gathering players and
            collectors in Thailand who currently use traditional e-markets to
            buy and sell cards.
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8">Market Validation</Chip>
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            Market Validation for a Magic: the Gathering Trading Platform in
            Thailand This project aims to validate the market potential for a
            centralized platform dedicated to Magic: the Gathering (MTG) card
            trading in Thailand. Our approach will involve two key steps:

            <ol>
              <li>
                Online Presence Analysis: We will analyze the current online
                landscape for MTG cards in Thailand. This includes examining
                existing online marketplaces, forums, and social media groups
                where players and collectors buy, sell, and trade cards.
              </li>
              <li>
                Community Outreach: We will conduct surveys and interviews with
                MTG players and collectors in Thailand. This research will
                identify inefficiencies in current trading methods and explore
                the needs of the community.
              </li>
            </ol>
            Justification: There are currently around 10,000 active users in
            Thai Facebook groups dedicated to MTG card trading. These groups
            rely on traditional methods like:
            <ul>
              <li>Person-to-person trading</li>
              <li>Shipping individual cards</li>
              <li>Selling through existing online marketplaces</li>
              <li>Utilizing reputable trading card game stores</li>
            </ul>
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8"
            >Project Deliverables</Chip
          >
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            <ul>
              <li>
                A fully functional and user-friendly online secondary
                marketplace platform for finding and selling Magic the Gathering
                cards.
              </li>
              <li>Pricing reference from community rating in each card.</li>
              <li>Search algorithm and OCR integration.</li>
              <li>
                User-friendly interface for showcase creation and card trading.
              </li>
            </ul>
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8"
            >Project Limitations</Chip
          >
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            <ul>
              <li>
                The web application will focus on offline cards and will not
                cover sealed product or official retailer/dealer markets.
              </li>
              <li>
                Dependency on the availability and accuracy of online databases
                for card information.
              </li>
              <li>
                Reliance on third-party api for Magic: The Gathering information
                and pricing reference.
              </li>
              <li>
                Potential resistance or slow adoption from the existing Magic:
                The Gathering community.
              </li>
              <li>
                The web application enables users to communicate directly with
                each other using the contact information provided, which is
                visible exclusively on the showcases.
              </li>

              <li>
                The web application does not include a transaction system;
                instead, all payments are facilitated through private
                arrangements between the seller and buyer. MagicMarket provides
                contact information to facilitate these transactions.
              </li>
            </ul>
          </div>
        </div>
        <div class="tw-w-full tw-h-[1px] tw-bg-white tw-my-8"></div>

        <Chip class="tw-text-xl tw-font-bold">System Design</Chip>

        <div
          class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
        >
          <Chip class="tw-text-lg tw-font-bold tw-mt-8">Architecture</Chip>
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            The MagicMarket platform will follow a firebase platform
            architecture, where the client (web browser or mobile app) interacts
            with the server to access and update information. The server will be
            responsible for handling user requests, managing the database, and
            processing transactions. Key components of the system architecture
            include:
            <img
              class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
              src="/images/blogs/magicmarket/architecture.webp"
              alt="MagicMarket's System architecture"
            />
            <span class="tw-italic tw-text-center">
              Figure of MagicMarket's System architecture
            </span>
            <div
              class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
            >
              <b class="tw-text-yellow-500">1.Frontend (Web or Mobile)</b>
              <span
                >The frontend can be either web-based or mobile, offering
                flexibility for users to access the platform from various
                devices.</span
              >
              <b class="tw-text-yellow-500">2.Firebase Services:</b>
              <span
                >2.1 Firestore Firestore provides real-time synchronization,
                ensuring up-to-date information for users.</span
              >
              <span>
                2.2 Authentication Firebase Authentication ensures secure and
                streamlined user authentication during registration and login
                processes.</span
              >
              <span
                >2.3 Storage Firebase Storage provides a secure repository for
                storing various application data.</span
              >
              <b class="tw-text-yellow-500">3. Frontend Architecture</b>
              <span
                >The frontend may include both web and mobile versions,
                providing a consistent and intuitive interface.</span
              >
              <b class="tw-text-yellow-500">4. Firebase Integration</b>
              <span
                >Firebase Authentication will be integrated to manage user
                authentication securely, safeguarding user privacy and
                information.</span
              >
              <b class="tw-text-yellow-500"> 5. 3rd Party - Scryfall</b>
              <span
                >serves as the primary source for Magic: The Gathering data,
                including card details and market pricing, crucial for
                MagicMarket's functionality.</span
              >
              <b class="tw-text-yellow-500"> 6. CI/CD</b>
              <span
                >The Continuous Integration/Continuous Deployment (CI/CD)
                pipeline of MagicMarket is hosted on Vercel and stored in a
                GitLab public repository, ensuring efficient development
                processes.</span
              >
            </div>
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8">Function Design</Chip>
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            <ul>
              <li>
                Search Card by Name and Image: This functionality enables users
                to search for Magic: The Gathering cards using either their
                names or images, enhancing the flexibility and convenience of
                card exploration.
              </li>

              <li>
                Showcase Management System: The showcase management system
                allows users to efficiently organize and display their card
                collections or listings, contributing to a more organized and
                user-friendly marketplace.
              </li>

              <li>
                Pricing References: MagicMarket incorporates pricing references,
                utilizing data from Scryfall, to provide users with accurate and
                up-to-date market pricing information.
              </li>

              <li>
                MagicMarket Application: The overall MagicMarket application
                integrates these functions and more, creating a comprehensive
                platform tailored to the needs of Magic: The Gathering
                enthusiasts.
              </li>
            </ul>
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8"
            >Data structure Design</Chip
          >
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            <img
              class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
              src="/images/blogs/magicmarket/image13.webp"
              alt="ER Diagram of MagicMarket System"
            />
            <span class="tw-italic tw-text-center">
              Figure of ER Diagram of MagicMarket System
            </span>
            ER Diagram illustrating the connections among cards, showcases, and
            users, encompassing both card sellers and buyers. The diagram
            encompasses all the functionalities embedded in the MagicMarket
            design.
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8"
            >Context diagram Design</Chip
          >
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            <img
              class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
              src="/images/blogs/magicmarket/image25.webp"
              alt="Context Diagram of MagicMarket System"
            />
            <span class="tw-italic tw-text-center">
              Figure of Context Diagram of MagicMarket System
            </span>

            the Context diagram of MagicMarket that is crafted to be an
            all-encompassing and user-focused solution within the realm of
            Thailand's Magic: The Gathering trading card community. As an
            inventive online marketplace, the platform acts as a connection
            point for collectors, players, and sellers, providing a smooth and
            effective trading environment.
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8"
            >User Interface Design</Chip
          >
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            MagicMarket features a design resembling an online secondary
            marketplace, akin to a Facebook group. The design incorporates key
            references while considering the purpose, supplemented by
            information and experiences familiar to the target market. Notably,
            we draw inspiration from well-established platforms like TCGplayer,
            CardKingdom, and FizzyShop, which are comprehensive web applications
            for trading, buying, and selling card games. Our adaptation of these
            references aims to create a new UI for MagicMarket that enhances
            user experience, providing pricing references, improving
            accessibility for searches, and organizing card listings for both
            buyers and sellers.

            <div
              class="tw-relative tw-grid tw-grid-cols-2 tw-justify-center tw-gap-14"
            >
              <div
                class="tw-flex tw-flex-col"
                v-for="(item, i) in uiItems"
                :key="i"
              >
                <img
                  class="tw-w-full tw-rounded-xl"
                  :src="item.src"
                  :alt="item.figure"
                />
                <span class="tw-italic tw-text-center tw-text-sm tw-mt-4">
                  {{ item.figure }}
                </span>
                <span>{{ item.content }} </span>
              </div>
            </div>
          </div>
          <Chip class="tw-text-lg tw-font-bold tw-mt-8">Main Functions</Chip>
          <div
            class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-6 tw-leading-loose"
          >
            <b> MagicMarket Search card by name and image </b>
            <div
              class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-4 tw-leading-loose"
            >
              <img
                class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
                src="/images/blogs/magicmarket/image8.webp"
                alt="Search function workflow for MagicMarket"
              />
              <span class="tw-italic tw-text-center">
                Figure of Search function workflow for MagicMarket
              </span>
              <span>
                the workflow structure of the search functionality in
                MagicMarket, providing users with two powerful options to find
                cards. The first option is the traditional text-based search,
                allowing users to type in their query. Upon confirmation, the
                system utilizes the Scryfall API with a fuzzy name endpoint,
                accommodating misspellings and word position swaps in the card
                name. The result is an object containing metadata and an array
                of matched cards. The second option is image-based search using
                OCR, extracting text from images with the help of the
                teserract.js library. This library employs a pre-trained model
                on OCR, enhancing accuracy in text extraction.
              </span>
              <img
                class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
                src="/images/blogs/magicmarket/image12.webp"
                alt="MagicMarket Marketplace section"
              />
              <span class="tw-italic tw-text-center">
                Figure of MagicMarket Marketplace section
              </span>
              <span>
                the user interface of the marketplace section, showcasing all
                available showcases on the landing page. This provides a
                convenient overview of the market, allowing buyers to quickly
                browse and explore the cards on offer.
              </span>
              <img
                class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
                src="/images/blogs/magicmarket/image4.webp"
                alt="Card Display and Comparison Across the Marketplace"
              />
              <span class="tw-italic tw-text-center">
                Figure of Card Display and Comparison Across the Marketplace
              </span>
              <span>
                Figure 4.3 showcases the user interface of the card detail page,
                providing users with a comprehensive view when searching for
                specific cards. This page enables users to explore and compare
                cards offered by various sellers within the MagicMarket online
                marketplace.
              </span>
            </div>
            <Chip class="tw-mt-8"> MagicMarket Pricing References </Chip>
            <div
              class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-4 tw-leading-loose"
            >
              <img
                class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
                src="/images/blogs/magicmarket/image8.webp"
                alt="MagicMarket Pricing references sources"
              />
              <span class="tw-italic tw-text-center">
                Figure of MagicMarket Pricing references sources
              </span>
              <span>
                the reference types and their associated conversion rates
                utilized by MagicMarket as pricing references on its online
                secondary marketplace. The references are categorized into two
                groups: those with conversion rates and those without. The
                former includes TCGPlayer, Card Hoarder, and CardMarket, which
                leverage the Scryfall API to obtain pricing references. On the
                other hand, CardKingdom falls into the latter category, offering
                a no-conversion-rate option. Users may manually check the
                CardKingdom website for real-time pricing. Additionally,
                MagicMarket accommodates a custom or no-reference price type,
                empowering users to set their own prices for cards.
              </span>
            </div>
            <Chip class="tw-mt-8"> MagicMarket Showcase management </Chip>
            <div
              class="tw-flex tw-flex-col tw-justify-center tw-gap-y-2 tw-indent-4 tw-leading-loose"
            >
              <img
                class="tw-bg-white tw-p-6 tw-rounded-xl tw-w-[65vw]"
                src="/images/blogs/magicmarket/image19.webp"
                alt="MagicMarket Showcase management workflow"
              />
              <span class="tw-italic tw-text-center">
                Figure of MagicMarket Showcase management workflow
              </span>
              <span>
                the workflow on Showcase management that enables sellers to
                effectively manage their individual showcases, streamlining the
                process of listing and presenting cards.
              </span>
            </div>
          </div>
        </div>
        <div class="tw-w-full tw-h-[1px] tw-bg-white tw-my-8"></div>

        <div class="tw-text-xl tw-font-bold">I'd say appreciated that.🙏</div>
        <span
          >if you scrolling so far to this thanks for you attention my Capstone
          project. all technical information in this blog is have been summarize
          from my Thesis and i hope you enjoy with it.</span
        >
        <div
          class="tw-p-8 tw-border tw-border-solid tw-border-white tw-rounded-lg tw-flex tw-items-center"
        >
          <span class="tw-text-2xl"
            >Visit my Capstone project here (May be it not work correctly now
            cause it have no maintainance since 2023)</span
          >
          <Button
            class="tw-w-[330px] tw-relative tw-rounded-xl tw-transition-all hover:tw-scale-[1.02]"
            severity="secondary"
          >
            <NuxtPicture
              width="200"
              @click="externalNavigationTo('https://magicmarket.vercel.app/')"
              src="/images/blogs/magicmarket/logo.webp"
            />
          </Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "blog",
});
const headerData = {
  tags: ["KMUTT", "Capstone Project"],
  subtitle:
    "An online secondary marketplace platform to enhance your MTG searching and sales experiences",
  title: "Magic Market",
  imgSrc: "/images/blogs/magicmarket.webp",
};
const uiItems = [
  {
    figure:
      "Figure of Landing Page to Any Visitor Who First Launches the Web Application",
    content:
      "This figure serves as the user's personalized landing page, indicating successful login and showcasing all cards the user has listed for sale. It provides an overview of the user's active showcases.",
    src: "/images/blogs/magicmarket/image17.webp",
  },
  {
    figure:
      "Figure of Landing Page - Marketplace Section (Providing all available showcases)",
    content: "",
    src: "/images/blogs/magicmarket/image30.webp",
  },
  {
    figure:
      "Figure of My Showcases (Indicating user login and displaying all cards for sale)",
    content:
      "Sidebar of the website is displaying my showcase that contains all of the cards that user placed for sales at that time.",
    src: "/images/blogs/magicmarket/image9.webp",
  },
  {
    figure: "Figure of Search with Text",
    content:
      "Users can utilize the search functionality by entering text, enabling them to quickly find specific cards or related information. This feature enhances the efficiency of navigating the platform.",
    src: "/images/blogs/magicmarket/image23.webp",
  },
  {
    figure: "Figure of Search with image Using OCR",
    content:
      "Users can leverage Optical Character Recognition (OCR) technology to search for cards by taking pictures. This innovative feature simplifies the search process by allowing users to visually identify and find cards.",
    src: "/images/blogs/magicmarket/image2.webp",
  },
  {
    figure: "Figure of Dialog on Card Detail",
    content:
      "This figure represents a detailed dialog box providing additional information when a user clicks on a specific card. It offers a closer look at the card's details, aiding users in making informed decisions.",
    src: "/images/blogs/magicmarket/image20.webp",
  },
  {
    figure:
      "Figure of Card Detail Page and Compare Table for Pricing Reference, Displaying all Showcases with this Card",
    content:
      "Users can access a dedicated card detail page, which includes a compare table for pricing references. Additionally, it displays all showcases that currently have this card listed for sale, facilitating comprehensive decision-making for buyers.",
    src: "/images/blogs/magicmarket/image21.webp",
  },
  {
    figure:
      "Figure of Showcase Page of User (Displaying all cards user has placed for sale)",
    content:
      "This figure illustrates the user's showcase page, showcasing all the cards the user has listed for sale. It provides an organized display, enabling easy management of the user's offerings.",
    src: "/images/blogs/magicmarket/image28.webp",
  },
  {
    figure: "Figure of Manage Card on Showcase",
    content:
      "Users have the capability to manage the cards within their showcase. This includes actions such as editing card details, updating quantities, and ensuring accurate information for potential buyers.",
    src: "/images/blogs/magicmarket/image16-1.webp",
  },
  {
    figure: "Figure of Manage Showcase detail",
    content:
      "Users can manage the details of their showcases, including the title, description, and other relevant information. This figure represents the interface where users can make adjustments and maintain showcase accuracy.",
    src: "/images/blogs/magicmarket/image10.webp",
  },
  {
    figure: "Figure of Add Card to Showcase process (1# card-selection)",
    content:
      "This figure illustrates the step-by-step process for users to add a new card to their showcase. It guides users through the necessary fields and details required to successfully list a card for sale. For first step it will let user search the card by name and listing it to selected card on purple section (selected cards)",
    src: "/images/blogs/magicmarket/image29.webp",
  },
  {
    figure: "Figure of Add Card to Showcase process (2# card-adjustment)",
    content:
      "After Card Selection is done. User need to fill the form of sale information for each card are conversion rate, reference type, foil, card condition and quantity",
    src: "/images/blogs/magicmarket/image6.webp",
  },
  {
    figure: "Figure of Authentication page",
    content:
      " This figure showcases the authentication page, where users can log in to access personalized features and ensure a secure trading experience within the MagicMarket platform.",
    src: "/images/blogs/magicmarket/image11.webp",
  },
];
</script>

<style scoped></style>
