<template>
  <primitive :object="model"></primitive>
</template>

<script setup lang="ts">
const { scene: model } = await useGLTF("/materials/mini_room_art_copy.glb");
</script>

<style scoped></style>
