<template>
  <div
    id="about"
    class="tw-h-full tw-w-full tw-flex tw-items-center tw-justify-center tw-relative tw-p-4 tw-bg-gradient-to-br tw-from-black tw-to-[#262626]"
  >
    <div>
      <b class="tw-text-[3rem] lg:tw-text-[8rem] tw-p-0 tw-m-0">
        {{ title }}
      </b>
    </div>
    <div class="tw-flex tw-flex-wrap tw-justify-center tw-w-full">
      <div class="tw-basis-1/6 tw-w-full tw-flex tw-justify-center">
        <Card
          class="tw-p-4 tw-bg-gradient-to-b tw-from-[#a4e9f9] tw-via-[#c5aef2] tw-to-[#8578ea] box-about tw-w-full tw-mx-2"
        />
      </div>
      <div class="tw-basis-2/6 tw-w-full tw-flex tw-justify-center">
        <Card
          class="tw-p-4 tw-w-full tw-bg-gradient-to-b tw-from-[#fff1bf] tw-via-[#ec458d] tw-to-[#8578ea] box-about tw-mx-2"
        />
      </div>
      <div class="tw-basis-3/6 tw-w-full tw-flex tw-justify-center">
        <Card
          class="tw-p-4 tw-w-full tw-bg-gradient-to-b tw-from-[#f9f5e0] tw-via-[#f5895c] tw-to-[#b34ecc] box-about tw-mx-2"
        />
      </div>
    </div>
    <div
      class="tw-flex tw-flex-wrap tw-w-full tw-items-center tw-justify-center"
    >
      <Icon name="mage:contact-book-fill" size="72" class="tw-mx-4" />
      <div class="tw-border tw-border-solid tw-rounded-xl tw-p-4">
        <b>{{ subTitle }}</b>
        <div class="tw-flex tw-flex-wrap tw-w-full tw-gap-y-2 tw-mt-2">
          <div
            class="tw-basis-1/2 tw-flex tw-justify-start tw-underline-offset-2 tw-underline hover:tw-no-underline tw-cursor-pointer"
            v-for="(contact, i) in contactItems"
            @click="externalNavigationTo(contact.href)"
            :key="i"
          >
            {{ contact.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
const title = ref();
const subTitle = ref();
useScrambleText(title, "Contacts", 100);
useScrambleText(subTitle, "Get in touch", 120);
const contactItems = [
  { title: "Email", href: "mailto:nonthakorn.in@outlook.com" },
  { title: "LinkedIn", href: "https://linkedin.com/in/nonthakorn-inth" },
  { title: "GitLab", href: "https://gitlab.com/redcats002" },
  { title: "GitHub", href: "https://github.com/redcats002" },
];

onMounted(() => {
  const tl = gsap
    .timeline({
      scrollTrigger: {
        trigger: "#projects",
        markers: true,
      },
    })
    .from(".box-about", {
      borderRadius: "3rem",
      duration: 1,
      opacity: 0,
      ease: "power1.in",
      stagger: {
        each: 0.5,
      },
    });
});
</script>

<style scoped></style>
