<template>
  <div
    id="interest"
    ref="container"
    class="tw-h-[100dvh] tw-w-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-relative tw-bg-gradient-to-b tw-from-[#c5f9d7] tw-via-[#f7d486] tw-to-[#f27a7d] tw-p-4"
  >
    <div
      id="interest-title"
      class="tw-flex tw-w-full tw-flex-wrap tw-justify-center tw-relative"
    >
      <b class="tw-text-[6rem] tw-text-primary">{{ currentText }}</b>
    </div>

    <div
      class="tw-text-primary tw-w-[70%] tw-rounded-xl tw-p-4 tw-flex tw-flex-col"
    >
      <div
        class="tw-grid tw-grid-cols-3 tw-justify-center tw-items-center tw-gap-2"
      >
        <div
          class="box-interest tw-flex tw-w-full tw-justify-center tw-items-center tw-h-[200px] tw-bg-white tw-rounded-xl tw-backdrop-blur-lg tw-bg-opacity-80 tw-drop-shadow-lg tw-border-2 tw-border-solid tw-border-white"
        >
          <span class="tw-font-semibold tw-text-4xl"> Web Animation </span>
        </div>
        <div
          class="box-interest tw-flex tw-w-full tw-justify-center tw-items-center tw-h-[200px] tw-bg-white tw-rounded-xl tw-backdrop-blur-lg tw-bg-opacity-80 tw-drop-shadow-lg tw-border-2 tw-border-solid tw-border-white"
        >
          <span class="tw-font-semibold tw-text-4xl"> 3D Website </span>
        </div>
        <div
          class="box-interest tw-flex tw-w-full tw-justify-center tw-items-center tw-h-[200px] tw-bg-white tw-rounded-xl tw-backdrop-blur-lg tw-bg-opacity-80 tw-drop-shadow-lg tw-border-2 tw-border-solid tw-border-white"
        >
          <span class="tw-font-semibold tw-text-4xl"> Interaction Design </span>
        </div>
      </div>
      <div
        class="tw-flex tw-my-4 tw-justify-center tw-items-center tw-flex-col"
      >
        <span class="tw-text-2xl tw-font-semibold"> Currently learning </span>
        <i class="tw-text-lg">March 2024</i>
      </div>

      <div class="tw-flex tw-justify-center tw-items-center tw-gap-2">
        <div class="tw-relative tw-flex tw-justify-center tw-items-end">
          <Chip class="tw-absolute tw-drop-shadow-md img-interest"> GSAP </Chip>
          <img
            src="/images/interest/gsap.webp"
            class="tw-rounded-2xl tw-p-2 tw-w-[300px] img-interest"
          />
        </div>

        <div class="tw-relative tw-flex tw-justify-center tw-items-end">
          <Chip class="tw-absolute tw-drop-shadow-md img-interest">
            Lenis
          </Chip>
          <img
            src="/images/interest/lenis.webp"
            class="tw-rounded-2xl tw-p-2 tw-w-[300px] img-interest"
          />
        </div>

        <div class="tw-relative tw-flex tw-justify-center tw-items-end">
          <Chip class="tw-absolute tw-drop-shadow-md img-interest">
            TresJS
          </Chip>
          <img
            src="/images/interest/vrgrr.webp"
            class="tw-rounded-2xl tw-p-2 tw-w-[300px] img-interest"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
import { useTransition } from "~/composables/useTransition";

const container = ref();
const finalText = "Interest";
const currentText = ref("");
// const transitionStore = useTransition();
// transitionStore.useAnimateInOut(container);
useScrambleText(currentText, finalText);

onMounted(() => {
  gsap
    .timeline({
      scrollTrigger: {
        trigger: "#interest",
        start: "top top",
        end: "bottom bottom",
        pin: true,
        markers: true,
      },
    })
    .from(".box-interest", {
      duration: 0.2,
      opacity: 0,
      ease: "back.in",
      stagger: {
        each: 0.1,
      },
    })
    .from(".img-interest", {
      duration: 0.2,
      opacity: 0,
      ease: "back.in",

      stagger: {
        each: 0.1,
      },
    });
});
</script>

<style scoped></style>
