<template>
  <div ref="introContainerRef" class="tw-flex tw-relative tw-flex-col">
    <!-- <SectionIntroOne ref="sectionOneRef" /> -->
    <SectionIntroTwo ref="sectionTwoRef" />
    <SectionIntroThree ref="sectionThreeRef" />
    <SectionIntroFour />
    <!-- <SectionIntroFive /> -->
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";

const introContainerRef = ref();
const sectionOneRef = ref();
const sectionTwoRef = ref();
const sectionThreeRef = ref();
onMounted(() => {
  // const sections = gsap.utils.toArray(".panel");
  // const tween = gsap
  //   .timeline({
  //     scrollTrigger: {
  //       trigger: introContainerRef.value,
  //       pin: true,
  //       scrub: true,
  //       snap: 1 / (sections.length - 1),
  //       end: () => `+=${introContainerRef.value.offsetWidth}`,
  //       markers: true,
  //       invalidateOnRefresh: true,
  //     },
  //   })
  //   .to(sections, {
  //     xPercent: -100 * (sections.length - 1),
  //     ease: "none",
  //   });
  // sections.forEach((section: any, i) => {
  //   gsap.from(section, {
  //     stagger: 0.1,
  //     duration: 0.8,
  //     ease: "back",
  //     y: 160,
  //     scrollTrigger: {
  //       trigger: section,
  //       markers: true,
  //       scrub: true,
  //     },
  //   });
  // });
  // const tl = gsap.timeline();
  // tl.to(sectionOneRef.value.introOneWrapperRef, {
  //   opacity: 0,
  //   duration: 2,
  //   scrollTrigger: {
  //     trigger: sectionOneRef.value.introOneWrapperRef,
  //     scrub: true,
  //     markers: true,
  //   },
  // });
  // tl.to(sectionTwoRef.value.introTwoWrapperRef, {
  //   duration: 4,
  //   opacity: 0,
  //   stagger: 1,
  //   rotate: 160,
  //   scrollTrigger: {
  //     trigger: sectionTwoRef.value.introTwoWrapperRef,
  //     scrub: true,
  //     // toggleActions: "play none none reverse",
  //     markers: true,
  //   },
  // });
  // tl.to(sectionThreeRef.value.introThreeWrapperRef, {
  //   duration: 4,
  //   opacity: 0,
  //   stagger: 1,
  //   rotate: 160,
  //   scrollTrigger: {
  //     trigger: sectionThreeRef.value.introThreeWrapperRef,
  //     scrub: true,
  //     // toggleActions: "play none none reverse",
  //     markers: true,
  //   },
  // });
  // const tl = gsap.timeline();
  // tl.from(firstnameRef.value, { xPercent: -100 }).from(lastnameRef.value, {
  //   xPercent: 100,
  // });
  // gsap.from(introRef.value, {
  //   scrollTrigger: {
  //     trigger: introRef.value,
  //     markers: true,
  //     scrub: 1,
  //   },
  //   opacity: 0,
  //   y: 100,
  //   duration: 2,
  //   autoAlpha: 0,
  //   ease: "back.out(1.7)",
  // });
  // gsap.to(firstnameRef.value, {
  //   scrollTrigger: {
  //     trigger: firstnameRef.value,
  //     markers: true,
  //     scrub: 1,
  //   },
  //   x: 0,
  //   rotation: 360,
  //   duration: 3,
  //   ease: "back.out(1.5)",
  // });
  // gsap.to(lastnameRef.value, {
  //   scrollTrigger: {
  //     trigger: lastnameRef.value,
  //     markers: true,
  //     scrub: 1,
  //   },
  //   x: 0,
  //   rotation: -360,
  //   duration: 2,
  //   ease: "back.out(1.4)",
  // });
});
</script>

<style></style>
