<template>
  <div
    id="landing"
    class="tw-h-screen tw-w-screen tw-relative tw-font-IBM_PLEX_MONO tw-flex tw-flex-col tw-justify-around"
  >
    <div class="tw-absolute">
      <div class="tw-flex tw-justify-center tw-items-center">
        <img src="/public/images/andSymbol.svg" width="120" class="imgs" />
        <img src="/public/images/ColorPalette.svg" width="120" class="imgs" />
        <img src="/public/images/JigsawPuzzle.svg" width="120" class="imgs" />
        <img src="/public/images/kmutt.webp" width="120" class="imgs" />
        <img src="/public/images/Star.svg" width="120" class="imgs" />
      </div>
    </div>

    <b
      class="tw-text-[3rem] lg:tw-text-[6rem] tw-p-0 tw-m-0 tw-left-0 tw-flex characters"
      ref="nameRef"
    >
      {{ content.textOne.value }}
    </b>
    <b
      class="tw-p-0 tw-m-0 tw-left-0 tw-flex tw-justify-between tw-items-center tw-bg-white tw-text-primary hover:tw-bg-orange-300 tw-transition-all"
    >
      <div
        ref="scrollDownIconRef"
        class="tw-flex tw-justify-center tw-items-center tw-pl-10 tw-text-2xl tw-animate-bounce tw-bg-white tw-rounded-xl tw-p-4"
      >
        Scroll <Icon name="material-symbols-light:arrow-circle-down-outline" />
      </div>
      <span class="tw-text-[3rem] lg:tw-text-[10rem]">
        {{ content.textTwo.value }}</span
      >
    </b>
    <b
      class="tw-text-[3rem] lg:tw-text-[6rem] tw-p-0 tw-m-0 tw-left-0 tw-flex tw-justify-center tw-items-center"
    >
      {{ content.textThree.value }}
    </b>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
const content = {
  firstname: ref(""),
  lastname: ref(""),
  abs: ref(""),
  textOne: ref(""),
  textTwo: ref(""),
  textThree: ref(""),
};
const nameRef = ref();
const gradientBoxRef = ref();
const scrollDownIconRef = ref();

// useScrambleText(content.firstname, "Nonthakorn");
// useScrambleText(content.lastname, "Inthong");
// useScrambleText(content.abs, "Kan.N.Inthong", 90, true);
useScrambleText(content.textOne, "I'm Nonthakorn", 90, true);
useScrambleText(content.textTwo, "Web Developer", 90, true);
useScrambleText(content.textThree, "Based in Bangkok, Thailand", 90, true);

onMounted(() => {
  const animation = gsap.to(".characters", {
    paused: true,
    opacity: 0,
  });
  const TL = gsap.timeline({ paused: true });
  const imgs = document.querySelectorAll("img");
  TL.to(imgs, {
    scale: 1.0,
    duration: 0.6,
    stagger: 0.1,
    ease: "back.out(1.7)",
  });
  useEventListener(scrollDownIconRef, "mouseenter", (e) => {
    TL.play();
  });
  useEventListener(scrollDownIconRef, "mouseout", (e) => {
    TL.reverse();
  });
  useEventListener(scrollDownIconRef, "click", (e) => {
    gsap.to(window, { duration: 2, scrollTo: 400 });
  });

  useEventListener(nameRef, "mouseenter", (e) => {
    animation.play();
  });
  useEventListener(nameRef, "mouseout", (e) => {
    animation.reverse();
  });

  // const tl = gsap
  //   .timeline({})
  //   .from(nameRef.value, {
  //     duration: 1,
  //     opacity: 0,
  //   })
  //   .from(gradientBoxRef.value, {
  //     opacity: 0,
  //     scale: -0.2,
  //     ease: "back",
  //     stagger: 0.1,
  //     duration: 0.5,
  //   })
  //   .from(scrollDownIconRef.value, {
  //     opacity: 0,
  //     scale: 0,
  //     ease: "back",
  //     stagger: 0.1,
  //     duration: 0.4,
  //   });
});
</script>

<style scoped></style>
