<template>
  <div
    id="projects"
    ref="container"
    class="tw-h-[100dvh] tw-w-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-relative tw-bg-white tw-p-4"
  >
    <CommonDivider />
    <div
      id="projects-title"
      class="tw-flex tw-w-full tw-flex-wrap tw-relative tw-justify-center tw-mb-14"
    >
      <b class="tw-text-[6rem] tw-text-primary">{{ currentText }}</b>
    </div>

    <div
      class="tw-text-primary tw-w-[70%] tw-grid tw-grid-cols-2 tw-gap-2 tw-rounded-xl tw-p-4"
    >
      <div
        class="blog-left tw-rounded-lg tw-p-2 tw-flex tw-flex-col tw-gap-y-20"
      >
        <div>
          <div class="tw-mb-2 tw-flex tw-gap-x-2">
            <Chip class="tw-bg-purple-200">Capstone Project</Chip>
            <Chip class="tw-bg-purple-200">KMUTT</Chip>
          </div>
          <div class="tw-leading-snug tw-mb-2">
            <b class="tw-text-4xl">MagicMarket</b>
          </div>

          <div class="tw-text-lg tw-leading-relaxed">
            An online Secondary marketplace platform to enhance your Magic: The
            gathering searching and sales experiences. Capstone project subject
            of KMUTT i have been created a web app to help Magic: The Gathering
            players in Thailand buy cards more easily. The app lets users search
            for cards and compare prices, making it faster to find the best
            deals.
          </div>
          <div class="tw-mt-8 tw-flex tw-justify-between">
            <i>Sep 2023</i>
            <Button
              rounded
              severity="secondary"
              label="Read more"
              @click="$router.push('/blog/magicmarket')"
            />
          </div>
        </div>
      </div>
      <div
        class="blog-right tw-rounded-lg tw-p-2 tw-px-6 tw-w-full tw-flex tw-justify-center tw-relative tw-flex-col tw-gap-y-6"
      >
        <img
          draggable="false"
          src="/images/blogs/magicmarket.webp"
          width="440px"
          height="270px"
          class="img-projects tw-rounded-xl"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
import { useTransition } from "~/composables/useTransition";

const container = ref();
const finalText = "Projects";
const currentText = ref("");
// const transitionStore = useTransition();
// transitionStore.useAnimateInOut(container);
useScrambleText(currentText, finalText);

// onMounted(() => {
//   gsap
//     .timeline({
//       scrollTrigger: {
//         trigger: "#projects",
//         start: "top top",
//         end: "bottom bottom",
//         pin: true,
//         markers: true,
//       },
//     })
//     .from(".img-projects", {
//       borderRadius: "3rem",
//       duration: 1,
//       opacity: 0,
//       ease: "power1.in",
//       stagger: {
//         each: 0.5,
//       },
//     });
// });
</script>

<style scoped></style>
