<template>
  <div
    id="work-experience"
    ref="container"
    class="tw-h-full tw-w-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-relative tw-bg-white tw-p-4"
  >
    <CommonDivider />

    <div
      id="work-experience-title"
      class="tw-flex tw-w-full tw-flex-wrap tw-relative tw-justify-center tw-mb-14"
    >
      <b class="tw-text-[6rem] tw-text-primary">{{ currentText }}</b>
    </div>

    <div
      class="tw-text-primary tw-w-[70%] tw-grid tw-grid-cols-2 tw-gap-6 tw-rounded-xl tw-p-4"
    >
      <div class="tw-flex tw-flex-col tw-justify-center tw-p-4">
        <div class="tw-mb-2">
          <Chip class="tw-bg-purple-200">Web Developer</Chip>
        </div>

        <div class="tw-leading-snug tw-mb-2 tw-flex tw-flex-col">
          <b class="tw-text-4xl">Internship @CodeMobiles</b>
          <i>June-Aug 2023</i>
        </div>

        <div class="tw-text-lg tw-leading-relaxed">
          As a Trainee Web Developer at CodeMobiles, I gained valuable
          experience in various aspects of web development. Under the guidance
          of senior developers, I honed my skills in Understanding frameworks,
          Version management, knowledge sharing, DevOps practices and Process
          improvement
        </div>
        <div
          class="tw-relative tw-overflow-hidden tw-cursor-pointer tw-mt-2"
          @click="$router.push('/blog/internship')"
        >
          <img
            draggable="false"
            src="/images/blogs/codemobile/1.webp"
            width="100%"
            class="img-work-experience tw-rounded-t-xl tw-object-contain tw-cursor-pointer tw-transition-all hover:tw-scale-[1.01]"
          />

          <div
            class="tw-rounded-b-xl tw-bg-white tw-border tw-duration-300 tw-transition-all hover:tw-bg-gray-200 tw-border-solid tw-border-gray-400 tw-w-full tw-p-4 tw-flex tw-justify-center tw-items-center"
          >
            Read more
            <Icon class="tw-mt-1 tw-mx-2" name="material-symbols:read-more" />
          </div>
        </div>

        <!-- <div class="tw-mt-8 tw-flex tw-justify-end">
          <Button
            rounded
            severity="secondary"
            label="Read more"
            @click="$router.push('/blog/internship')"
          />
        </div> -->
      </div>
      <div class="tw-flex tw-flex-col tw-justify-center">
        <div class="tw-mb-2">
          <Chip class="tw-bg-purple-200 tw-mr-2">Front-end Developer</Chip>
          <Chip class="tw-bg-purple-200">Back-end Developer</Chip>
        </div>

        <div class="tw-leading-snug tw-mb-2 tw-flex tw-flex-col">
          <b class="tw-text-4xl">Freelance Developer</b>
          <i>Feb 2022 - Present</i>
        </div>

        <div class="tw-text-lg tw-leading-relaxed">
          A skilled front-end and back-end development, I build and optimize
          user-facing web applications (landing pages, applicant portals) and
          internal systems. I handle framework updates, UI/UX, and basic SEO.
          I've also integrated features like payments and have experience with
          Nest.js and databases.
        </div>
        <!-- <div class="tw-mt-8 tw-flex tw-justify-between">
          <Button
            rounded
            severity="secondary"
            label="Read more"
            @click="$router.push('/blog/freelance-developer')"
          />
        </div> -->

        <div
          class="tw-relative tw-overflow-hidden tw-cursor-pointer tw-mt-2"
          @click="$router.push('/blog/freelance-developer')"
        >
          <img
            draggable="false"
            src="/images/blogs/freelance.webp"
            width="100%"
            class="img-work-experience tw-rounded-t-xl tw-object-contain tw-cursor-pointer tw-transition-all hover:tw-scale-[1.01]"
          />

          <div
            class="tw-rounded-b-xl tw-bg-white tw-border tw-duration-300 tw-transition-all hover:tw-bg-gray-200 tw-border-solid tw-border-gray-400 tw-w-full tw-p-4 tw-flex tw-justify-center tw-items-center"
          >
            Read more
            <Icon class="tw-mt-1 tw-mx-2" name="material-symbols:read-more" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gsap from "gsap";
import { useTransition } from "~/composables/useTransition";

const container = ref();
const finalText = "Work Experience";
const currentText = ref("");
// const transitionStore = useTransition();
// transitionStore.useAnimateInOut(container);
useScrambleText(currentText, finalText);

// onMounted(() => {
//   const blogImages = gsap.utils.toArray(".blog-right-image");
//   blogImages.forEach(
//     (item: any, i) => (item.style.zIndex = blogImages.length - i)
//   );

//   gsap.set(".blog-right-image", {
//     clipPath: () => {
//       return "inset(0px 0px 0px 0px)";
//     },
//   });

//   gsap.to(".blog-right-image", {
//     clipPath: () => {
//       return "inset(0px 0px 100% 0px)";
//     },
//     stagger: 0.5,
//     ease: "none",
//     scrollTrigger: {
//       trigger: "#work-experience",
//       start: "top top",
//       end: "bottom bottom",
//       scrub: 1,
//       markers: true,
//     },
//   });

//   // gsap
//   //   .timeline({
//   //     scrollTrigger: {
//   //       trigger: "#work-experience",
//   //       start: "top top",
//   //       end: "bottom bottom",
//   //       pin: true,
//   //       markers: true,
//   //     },
//   //   })
//   //   .from(".img-work-experience", {
//   //     borderRadius: "3rem",
//   //     duration: 1,
//   //     opacity: 0,
//   //     ease: "power1.in",
//   //     stagger: {
//   //       each: 0.5,
//   //     },
//   //   });
// });
</script>

<style scoped></style>
