<template>
  <div class="tw-h-full tw-w-full tw-flex tw-flex-col tw-relative">
    <!-- <SectionLanding /> -->
    <SectionIntro />
    <!-- <div class="divider tw-h-[400dvw]"></div> -->
    <!-- <SectionInterest /> -->

    <SectionWorkExperience />

    <SectionProjects />
  </div>
</template>

<script setup lang="ts">
onMounted(() => {});
</script>

<style scoped></style>
